.main-team{
    background-color: rgb(154, 201, 252);
    border: 1px solid red;
    border-radius:20px;
    padding:10px;
}
.team-image-div{
    text-align: center;
}
.team-image-div img{
    height: 300px;
}
.table-info{
    width: 100%;
    border-radius: 10px;
}
table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
tr:nth-child(even) {background-color: rgb(210, 165, 242);}
td{
    width: 33%;
}
.total-budget{
    font-size: 1.3em;
    font-weight:700;
    background-color: yellow !important; 
    color: red !important; 
}